/* Select.module.css */

.customSelect {
  display: inline;
  padding-right: 15px;
}

.customDropdown:global(.rc-select-dropdown) {
  border: 1px solid black;
  min-height: 24px;
  background: var(--select-bg);
}

.customSelect :global(.rc-select-focused) :global(.rc-select-selector) {
  /* VS Code active border color */
  border-color: var(--select-border) !important;

  /* Remove default blue shadows if they exist */
  box-shadow: 0 0 0 1px var(--select-border) !important;

  /* Ensure the transition is smooth */
  transition: all 0.1s ease;
}

.customSelect :global(.rc-select-selector) {
  background-color: var(--select-bg) !important;
  border-color: var(--select-border) !important;
  color: var(--select-text);
  font-size: 16px;
  line-height: 24px;
}

.customSelect :global(.rc-select-selection-item) {
  color: var(--select-text);
}

/* Target the dropdown menu */
.customDropdown :global(.rc-select-item) {
  background-color: var(--select-bg);
  color: var(--select-text);
}

.customSelect
  :global(.rc-select-single:not(.rc-select-customize-input))
  :global(.rc-select-selection-search-input) {
  font-size: 16px;
  line-height: 24px;
  border-color: var(--select-border) !important;
  color: var(--select-text);
  background-color: var(--select-bg) !important;
}

/* Each items */
.customDropdown :global(.rc-select-item-option) {
  background-color: var(--select-menu-bg) !important;
  color: var(--select-text);
}

.customDropdown :global(.rc-select-item-option-active) {
  background-color: var(--select-option-active-bg) !important;
  color: var(--select-text);
}

.customDropdown :global(.rc-select-item-option-selected) {
  background-color: var(--select-option-selected-bg) !important;
  color: var(--select-text);
}

/*
  --select-menu-bg: #444;
  --select-option-hover-bg: #555;
  --select-option-active-bg: #666;
*/
